#banner{
	position: relative;
	z-index: 20;
}

.banner-wrapper{
  position: relative;
  height: auto;
	background-attachment: fixed;
}

.banner-overlay.home .overlay-logo{
	margin: 0 auto;
	max-width: 120px;
	width: 9%;
}

.banner-overlay.page .overlay-logo{
	margin: 0 auto;
	max-width: 120px;
	width: 9%;
}

.banner-overlay, .banner-overlay-notitle{
  width: 100%;
  z-index: 25;
	background-attachment: fixed;
	position: absolute;
	top: 65%;
  h2, h3{
    font-family: $font-stack-heading;
    color: $c-white;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.25em;
    max-width: 13em;
    margin: 0 auto;
  }
  &.home .overlay-logo{
    margin: 0 auto;
    max-width: 319px;
    margin-top: 1.15em;
    width: 18.7%;
		display: none;
  }
	&.page{
		.overlay-logo{
			margin: 0 auto;
			max-width: 223px;
			width: 12.38%;
			margin-bottom: 3em;
		}
		h3{
			font-size: 3em;
		}
	}
}

.banner-overlay.home, .banner-overlay-notitle{
  width: 100%;
  z-index: 25;
	background-attachment: fixed;
	position: absolute;
	top: 2.75%;
}

.banner-overlay-notitle{
  .dark{
    display: block;

  }
  .white{
    display: none;
  }
  .overlay-logo{
    width: 16%;
  }
}

.banner.main-banner{
  position: relative;
}

@media ( min-width: 703px ) and (max-width: 1140px ){

.banner-overlay-notitle .overlay-logo{
  width: 10%;
}

}

@media (min-width: 450px){
  .banner-overlay, .banner-overlay-notitle{
    &.home .overlay-logo{
      margin-top: 2.555em;
    }
    h2,h3{
      font-size: 2em;
      font-weight: 200;
      line-height: 1.15em;
    }
  }
}

#banner{
	float: left;
	width: 100%;
}

@media (min-width: 700px){
  .banner-overlay, .banner-overlay-notitle{
    position: absolute;
  }
  #content-block{
    margin-top: 0;
  }
  .banner-overlay-notitle{
    .dark{
      display: none;
    }
    .white{
      display: block;
    }
  }
}

@media (max-width: 699px){
  #content-block{
    margin-top: 0em !important;
  }
}

@media (min-width: 1140px){
  .banner-overlay, .banner-overlay-notitle{
    h2,h3{
      font-size: 5em;
    }
		&.home .overlay-logo{
			display: block;
		}
  }

  .banner-overlay.home{

    .overlay-logo{
      margin-bottom: 2em;
    }
  }
}


@media (max-width: 1140px){
	.banner-overlay.home{
		top: 10%;
	}
}

@media (max-width: 700px){
	.banner-overlay.page h3{
		font-size: 1.5em;
	}
	.banner-overlay.home{
		top: 5.5%;
	}
}

@media (max-width: 400px){
	.banner-overlay h3, .banner-overlay-notitle h3{
		font-size: 1.5em;
	}
	.banner-overlay.home{
		top: 3.5%;
	}
}
