.location-menus{
  & > .menu{
    margin-bottom: 3em;
  }
  .menu{
    width: 100%;
    float: left;
    border-bottom: 1px solid $c-red-orange;
    padding-bottom: 4em;
    h4{
      font-size: 2em;
      font-weight: 900;
    }
    .menu-content{
      @include span(6 of 8);
      p{
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    .button{
      @include span(2 of 8);
      margin-right: 0;
      background: $c-green;
      box-shadow: $drop-shadow;
      span{
        color: $c-white;
        font-size: 1em;
      }
    }
    .menu-buttons{
      width: 100%;
      float: left;
      margin-top: 2.5em;
      .button{
        @include span(2 of 8);
        background: $c-light-blue;
          span{
            color: $c-white;
            font-size: 1em;
          }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1140px){
  .location-menus .menu{
    h4{
      line-height: 1em;
      margin-bottom: .5em;
    }
    span.number{
      width: 100%;
      display: block;
    }
    .menu-buttons{
      margin-top: 2em;
      .button{
          width: 100%;
          margin-bottom: 1.5em;
      }
    }
    .button{
      width: 100%;
    }
    .menu-content{
      width: 100%;
      margin-bottom: 1em;
    }
  }
}
