<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /C:/wamp/www/mamasmd/NachosSite/wp-content/wppa-pl
RewriteRule ^Nacho-Mamas/(.*) /C:/wamp/www/mamasmd/NachosSite/wp-content/uploads/wppa-source/album-2/$1 [NC]
RewriteRule ^Friends-and-Family/(.*) /C:/wamp/www/mamasmd/NachosSite/wp-content/uploads/wppa-source/album-3/$1 [NC]
RewriteRule ^Come-On-Inside/(.*) /C:/wamp/www/mamasmd/NachosSite/wp-content/uploads/wppa-source/album-1/$1 [NC]
</IfModule>