.button.blog-button-home, .button.about-button,.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
  background-color: $c-green;
  color: $c-white;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  line-height: 2.45em;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background-color: $c-green;
  color: $c-white;
  line-height: 2.45em;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.woocommerce .quantity .qty{
  line-height: 2.65em;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
}

.button.about-button{
  width: 50%;
margin: 0 auto;
float: none;
  margin-top: 2em;
  span{
    color: #fff;
  }
}

.button.blog-button-home{
  width: 50%;
margin: 0 auto;
float: none;
  margin-top: 2em;
  span{
    color: #fff;
  }
}


.woocommerce #content{
 .entry-summary{
  p.price{
    font-weight: 600;
    font-size: 1.75em;
    text-align: center;
    margin-top: 1em;
  }
  .quantity{
    .qty{
      border: 1px solid $c-text-color;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
  .product_meta{
    display: none;
  }
}
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce #content div.product div.thumbnails a.first, .woocommerce #content div.product div.thumbnails:after, .woocommerce .cart-collaterals:after, .woocommerce .col2-set:after, .woocommerce .woocommerce-pagination ul.page-numbers:after, .woocommerce div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs ul.tabs:after, .woocommerce div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails:after, .woocommerce ul.products, .woocommerce ul.products li.first, .woocommerce ul.products:after, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails:after, .woocommerce-page .cart-collaterals:after, .woocommerce-page .col2-set:after, .woocommerce-page .woocommerce-pagination ul.page-numbers:after, .woocommerce-page div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails:after, .woocommerce-page ul.products, .woocommerce-page ul.products li.first, .woocommerce-page ul.products:after{
  clear: none;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background-color: $c-green;
}

.woocommerce div.product .product_title{
  line-height: 1em;
}
@media (max-width: 1040px){
  .woocommerce ul.products li.first{
    clear: initial;
  }
}
@media (max-width: 768px){
  .woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n){
    float: left !important;
  }
}
