@import "susy";

$susy: (
  columns: 12,
  gutters: .25,
);

#main{
	@include clearfix;
}

#container{
  position: relative;
  z-index: 50;
}

.container{
	@include container(1410px);
	@include clearfix;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  z-index: 50;
  &.page{
    padding-top: 3em;
    position: relative;
    z-index: 50;
  }
}

article > .content-container, .single-product .content-container{
  padding-top: 2.5em;
}

.site-header-main.page-header{
	.main-navigation{
		@include container(1374px);
    @include clearfix;
    width: 100%;
    padding: 1em 2.5%;
	}
}

.content-container{
  @include span(12 of 12);
  margin: 0 auto;
  @include clearfix;

  .entry-content{
    padding-top: 2em;
  }
}


.page-content, #comments-evolved-tabs{
  @include span(8 of 10 last);
  float: none;
  margin: 0 auto;
  @include clearfix;
  margin-top: 2.5em;
}

#comments-evolved-tabs.ui-tabs{
  margin: 0 auto !important;
  float: none;
}

.single{
  .page-content{
    p{
      font-size: 1.55em;
      line-height: 1.45em;
    }
  }
}

.blog{
  .content-container article{
    @include span(9 of 12);
    margin-bottom: 2em;
  }
  #secondary{
    @include span(3 of 12 last);
    padding-top: 1em;
  }
  .page-content{
    p{
      font-size: 1.55em;
      line-height: 1.45em;
    }
  }
  .entry-content{
    margin-top: 1em;
  }
  .entry-meta{
    margin-top: .5em;
  }
  h1.entry-title{
    text-align: left;
    a{
      text-decoration: none;
      color: $c-red-orange;
    }
  }
}

.content-title{
  padding-bottom: 2.5em;
}

.page-template .content-title{
  padding-bottom: .5em;
}

.site-main{
  background: $c-white;
}

#sidebar{
  h2{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: .25em;
  }
  & > ul > li{
    margin-bottom: 1em;
  }
}

section.quotes{
  display: block;
  margin: 5em 0;
}

.content-area{
  &.secondary{
    background: $c-white;
    margin-top: 3em;
  }
  &.team-list{
    background: $c-white;
  }
}

#instafeed{
  margin-top: 2.5em;

   a{
    @include span(2 of 8);
    margin-bottom: 1.875em;
    &:nth-child(4n){
      @include span(2 of 8 last);
    }
    img{
      width: 100%;
    }
  }
}

.insta-feed{
  .button{
    width: auto;
  }
}

@media (min-width: 800px){

  .content-area{
    padding-bottom: 0;
  }
}
@media (min-width: 1140px){
  .content-container{
    width: 91.295%;
    margin: 0 auto;
  }
  .content-container{
    @include container(1170px);
    float: none;
    margin: 0 auto;
    margin-bottom: 0;
      &.bottom{
        margin-top: 3em;
      }
  }
  .content-container.secondary{
    margin-bottom: 9em;
  }
  .content-container .entry-content{
    padding-top: 0;
  }
}

@media (min-width: 1260px){
  .content-container{
    width: 100%;
  }
}

@media (max-width: 1260px){
  .home-item{
    width: 100%;
  }
}
