@import "susy";

$susy: (
  columns: 12,
  gutters: .25,
);

#main{
	@include clearfix;
}

#container{
  position: relative;
  z-index: 50;
}

#content-block{
	position: relative;
	z-index: 10;
	background: $c-white;
	float: left;
	width: 100%;
	padding: 3.63em 0;
		&:after{
			-moz-box-shadow: inset 0 0 10em #c3b597;
	-webkit-box-shadow: inset 0 0 10em #c3b597;
	box-shadow: inset 0 0 10em #c3b597;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	content: "";
		}
}

.blog #primary{
  @include span(6 of 10);
}

.single-post #primary{
  @include span(6 of 10);
}

@media (max-width: 700px){
  .blog #primary, .single-post #primary{
    width: 100%;
  }
}

.blog #secondary, .single-post #secondary{
  @include span(3 of 10 last);
  @media (max-width: 700px){
    @include span(12 of 12);
  }
}

#comments-evolved-tabs{
  width: 100%;
}

.container{
	@include container(1410px);
	@include clearfix;
  position: relative;
  z-index: 50;
  &.page{
    padding-top: 3em;
    position: relative;
    z-index: 50;
  }
}

.site-header-main.page-header{
	.main-navigation{
		@include container(1374px);
    @include clearfix;
    width: 100%;
    padding: 1em 2.5%;
	}
}

.content-container{
  @include span(10 of 12);
  margin-left: span(1 of 12) + gutter(12);
  margin-right: 0;
  @include clearfix;

  .entry-content{
    padding-top: 2em;
  }
}

.small-content-container{
  @include span(8 of 12);
  margin-left: span(2 of 12) + gutter(12);
  margin-right: 0;

}


.page-content, #comments-evolved-tabs{
  float: none;
  margin: 0 auto;
  @include clearfix;
}

.page-template-template-about .page-content{
  padding-bottom: 3.63em;
}


#comments-evolved-tabs.ui-tabs{
  margin: 0 auto !important;
  float: none;
}

.single-post{
  .page-content{
    p{
      font-size: 1.55em;
      line-height: 1.45em;
      @media (max-width: 700px){
        font-size: 1em;
      }
    }
  }
}

.blog{
  .content-container article{
    margin-bottom: 2em;
  }
  #secondary{
    @include span(3 of 10 last);
    @media (max-width: 700px){
      @include span(12 of 12);
    }
  }
  .page-content{
    p{
      font-size: 1.55em;
      line-height: 1.45em;
    }
  }
  .entry-content{
    margin-top: 1em;
  }
  h1.entry-title{
    text-align: left;
    a{
      text-decoration: none;
      color: $c-red-orange;
    }
  }
}

.content-title{
  padding-bottom: 3.63em;
}

.page-template .content-title{
  padding-bottom: 3.63em;
}

#sidebar{
  h2{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: .25em;
  }
  & > ul > li{
    margin-bottom: 1em;
  }
}

section.quotes{
  display: block;
  margin: 5em 0;
}

.content-area{
  &.secondary{
    background: $c-white;
    margin-top: 3em;
  }
  &.team-list{
    background: $c-white;
  }
}

#instafeed{
  margin-top: 2.5em;

   a{
    @include span(2 of 8);
    margin-bottom: 1.875em;
    &:nth-child(4n){
      @include span(2 of 8 last);
    }
    img{
      width: 100%;
    }
  }
}

.insta-feed{
  .button{
    width: auto;
  }
}

@media (min-width: 800px){

  .content-area{
    padding-bottom: 0;
  }
}
@media (min-width: 1140px){
// .content-container{
//    width: 91.295%;
//    margin: 0 auto;
//  }
//  .content-container{
//    @include container(1170px);
//    float: none;
//    margin: 0 auto;
//    margin-bottom: 0;
//      &.bottom{
//        margin-top: 3em;
//      }
//  }
  .content-container.secondary{
    margin-bottom: 9em;
  }
  .content-container .entry-content{
    padding-top: 0;
  }
}

@media (min-width: 1260px){
  // .content-container{
  //  width: 100%;
//  }
}

@media (max-width: 1260px){
  .home-item{
    width: 100%;
  }
}
