.home-item{
  background: $c-red-orange;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  overflow: hidden;
  margin-bottom: 4.444em;
  h3{
    font-family: $font-stack-heading;
    color: $c-white;
    padding-top: .5em;
    line-height: 1.3em;
    font-size: 2em;
  }
  .home-image{
    @include span(6 of 9);
    margin-right: 0;
    img{
      width: 100%;
      height: auto;
    }
  }
  .home-content{
    width: 28.81%;
    float: right;
    padding: 0 2.6383%;
    position: relative;
  }

  .button-wrap{
    position: absolute;
    bottom: 2em;
    width: 84.5%;
  }
  .button{
    max-width: 225px;
    margin: 0 auto;
    span{
      font-family: $font-stack-heading;
    }
  }
}

.home-item:nth-child(odd){
  @include span(9 of 10 last);
  .home-content{
    float: right;
  }
  .home-image{
    float: left;
  }
}

.home-item:nth-child(even){
  @include span(9 of 10);
  .home-image{
    float: right;
  }
  .home-content{
    float: left;
  }
}

.home-item:nth-child(1){
  background: darken($c-red-orange, 10% );
  .button{
    border-color: darken($c-red-orange, 20% );
    span{
      color: darken($c-red-orange, 30% );
    }
  }
}

.home-item:nth-child(2){
  background: darken($c-green, 10% );
  .button{
    border-color: darken($c-green, 20% );
    span{
      color: darken($c-green, 30% );
    }
  }
}

.home-item:nth-child(3){
  background:  $c-dark-blue;
  .button{
    border-color: darken($c-dark-blue, 10% );
    span{
      color: darken($c-dark-blue, 10% );
    }
  }
}
@media (max-width: 1260px){
.home-item{
  &:nth-child(even), &:nth-child(odd) {
    width: 100%;
  }
  h3{
    font-size: 2em;
  }
}
}

@media (max-width: 900px){
  .home-item h3{
    font-size: 1.5em;
  }
}

@media (max-width: 700px){
  .home-item{
    .button-wrap{
      position: relative;
      width: 100%;
      margin: 1.5em 0;
      bottom: 0;
    }
    .home-content{
      width: 80%;
      float: none;
      padding: 0;
    }
    &:nth-child(even), &:nth-child(odd) {
      h3{
        font-size: 2em;
        text-align: center;
      }
      .home-content{
        margin: 0 auto;
        float: left;
        padding: 0 10%;
      }
    }
    .home-image{
      width: 100%;
    }
  }
}

@media (max-width: 450px){
  .home-item .home-content{
    &:nth-child(even), &:nth-child(odd) {
      h3{
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
  .home h1.entry-title{
    font-size: 1.5em;
  }
}
